{% extends "layout.html" %}
{% block content %}
    <h2>{{ title }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Check</th>
                <th>Result</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
