# import 'macros.html' as macros
# extends "layout.html"
# block content
    <h2>{{ title }}</h2>

    <p>Page: {{ page }}</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Parent</th>
                <th>Museum</th>
                <th>Code</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>
            # for row in data
            <tr onclick="window.location='/museum/{{row.guid}}'" style="cursor:pointer">
                <td>{{ row['Parent']|replace("None","") }}</td>
                <td>{{ row['Museum'] }}</td>
                <td>{{ row['Code']|replace("None","")}}</td>
                <td>{{ row['Type']|replace("None","") }}</td>
            </tr>
            # endfor
        </tbody>
    </table>

    {{ macros.pagination(page, maxpage, pagelist, 'entities.museums') }}

# endblock content
