<footer class="footer footer-white footer-big">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-3">
            <a href="#pablo">
              <h5>OneMuseum</h5>
            </a>
            <p>Supporting the digital transformation of museum</p>
          </div>
          <div class="col-md-2">
            <h5>About</h5>
            <ul class="links-vertical">
              <li>
                <a href="{{ url_for('support.show_starter', entity='about')}}">
                  About
                </a>
              </li>
              <li>
                <a href="{{ url_for('support.show_starter', entity='contact')}}">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Engage</h5>
            <ul class="links-vertical">
              <li>
                <a href="{{ url_for('support.show_starter', entity='museums') }}">
                  Museums
                </a>
              </li>
              <li>
                <a href="{{ url_for('support.show_starter', entity='nonmuseums') }}">
                  Non-Museums
                </a>
              </li>
              <li>
                <a href="{{ url_for('support.show_starter', entity='schools')}}">
                  Schools
                </a>
              </li>
              <li>
                <a href="{{ url_for('support.show_starter', entity='researchers')}}">
                  Researchers
                </a>
              </li>
              <li>
                <a href="{{ url_for('support.show_starter', entity='fees')}}">
                  Fees
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Legal</h5>
            <ul class="links-vertical">
              <li>
                <a href="{{ url_for('support.show_starter', entity='contentpolicy')}}">
                  Content Policy
                </a>
              </li>
              <li>
                <a href="{{ url_for('support.show_starter', entity='termsconditions')}}">
                  Terms &amp; Conditions
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Subscribe to Newsletter</h5>
            <p>
              Register as a user to access the content and to receive our newsletters outlining the development of OneMuseum.
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="copyright pull-center">
        Copyright &copy; 2020 Roger Layton Associates / The ETHER Initiative
      </div>
    </div>
  </footer>


  <footer class="footer footer-default">
    <div class=" container ">
      <nav>
        <ul>
          <li>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
