{% extends "layout.html" %}
{% block content %}
    <h2>{{ title }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>PK</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.type }}</td>
                <td>{{ row.code }}</td>
                <td>{{ row.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
